[submodule "web/highlight.js"]
	path = web/highlight.js
	url = https://github.com/highlightjs/highlight.js
[submodule "web/readability"]
	path = web/readability
	url = https://github.com/mozilla/readability
[submodule "web/heti"]
	path = web/heti
	url = https://github.com/sivan/heti
