.mozac-readerview-body.sepia {
  color: #5B4636;
  background-color: #F4ECD8;
}

.mozac-readerview-body.sepia * {
  color: #5B4636;
}

.mozac-readerview-body.sepia > .container > .header > .domain {
  border-bottom-color: #5B4636 !important;
}

.mozac-readerview-body.sepia > .container > .footer {
  background-color: #DEDAD4 !important;
}

.mozac-readerview-body.sepia blockquote {
  border-inline-start: 2px solid #5B4636 !important;
}