html{width:100%;height:100%;}body{width:100%;height:100%;}
body.reader-enabled{
    overflow:hidden;
}
body > .reader-wrapper{
    all: initial;
    display: none;
}
body.reader-enabled > .reader-wrapper {
    all:initial;
    position: fixed;
    z-index: 2147483647;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
.reader-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #fff;
}
.reader-view {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: max-height .8s ease;
    transition: max-height .8s ease;
}
.reader-view > iframe{
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
}
